# 忽略编译生成的二进制文件
*.o
*.out
a.out
*.obj

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
temp/
build/
bin/
/bin
/build
# 忽略IDE配置文件（如Qt Creator、VS Code）
.idea/
.vscode/
*.pro.user
*.swp  # Vim临时文件

# 忽略操作系统生成的文件
.DS_Store  # macOS
Thumbs.db  # Windows
